Repository NJurquet/FBG, pull requests merged in 2025-04, with the labels that each got.

#9 Documentation : 3D designs and component list
  .gitattributes
  BIG_BOT/3D_design/assembly/front_chariot_big_bot.step
  BIG_BOT/3D_design/components_ref.md
  BIG_BOT/src/fsm/states/collectStates.py
  BIG_BOT/src/fsm/states/detectionStates.py
  BIG_BOT/src/fsm/states/dropStates.py
  BIG_BOT/src/fsm/states/movementStates.py
  BIG_BOT/src/hardware/Camera/Camera.py
  BIG_BOT/src/hardware/bigMotor.py
  BIG_BOT/src/hardware/motorsControl.py
  BIG_BOT/src/hardware/reedSwitch.py
  BIG_BOT/src/hardware/steppermotor.py
  BIG_BOT/src/robot.py
  SIMA/3D_design/components_ref.md
  SIMA/3D_design/groupie/assembly/Rouge v34.step
  SIMA/3D_design/super_star/assembly/assembly_super_star.step
Labels: documentation, big bot, SIMA

#18 Reed switch superstar implementation
  BIG_BOT/src/hardware/reedSwitch.py
Labels: big bot, fix

#17 Implementation of the LCD in main code for game score display
  BIG_BOT/src/config.py
  BIG_BOT/src/hardware/lcd.py
  BIG_BOT/src/main.py
  BIG_BOT/src/robot.py
  BIG_BOT/tests/hardware/test_lcd.py
  requirements.txt
Labels: feature, big bot

#19 Adapt motor pins to PCB
  BIG_BOT/src/config.py
Labels: big bot, fix

#20 Adds CLI color argument
  BIG_BOT/src/main.py
  BIG_BOT/src/robot.py
Labels: feature, big bot

#22 Documentation - add of all existing 3D files
  BIG_BOT/3D_design/assembly/big_bot.step
  BIG_BOT/3D_design/assembly/front_chariot_big_bot.step
  BIG_BOT/3D_design/stl/caster_holder.stl
  BIG_BOT/3D_design/stl/center_claw.stl
  BIG_BOT/3D_design/stl/foldable_fork.stl
  BIG_BOT/3D_design/stl/lcd_frame.stl
  BIG_BOT/3D_design/stl/pusher_servo_structure.stl
  BIG_BOT/3D_design/stl/side_claw_servo_structure.stl
  BIG_BOT/3D_design/stl/stepper_holder.stl
  BIG_BOT/3D_design/stl/ulstrasonic_sensor_holder.stl
  SIMA/3D_design/groupie/assembly/Rouge v34.step
  SIMA/3D_design/groupie/assembly/groupie.step
  SIMA/3D_design/groupie/stl/arduino_holder_isolator.step
  SIMA/3D_design/groupie/stl/battery_holder.step
  SIMA/3D_design/groupie/stl/carrosserie.step
  SIMA/3D_design/groupie/stl/emergency_button_holder_mainpart.step
  SIMA/3D_design/groupie/stl/emergency_button_holder_subpart.step
  SIMA/3D_design/groupie/stl/upper_chassis.step
  SIMA/3D_design/super_star/assembly/assembly_super_star.step
  SIMA/3D_design/super_star/stl/capot_cover.step
  SIMA/3D_design/super_star/stl/carrosserie.step
  SIMA/3D_design/super_star/stl/emergency_button_holder.step
  SIMA/3D_design/super_star/stl/servo_celebration_module.step
  SIMA/3D_design/super_star/stl/ultrasonic_ir_sensors_holder.step
  SIMA/3D_design/super_star/stl/upper_chassis.step
Labels: documentation, big bot, SIMA

#23 Remove usage of `@override` working with Python 3.12+
  BIG_BOT/src/fsm/states/collectStates.py
  BIG_BOT/src/fsm/states/detectionStates.py
  BIG_BOT/src/fsm/states/dropStates.py
  BIG_BOT/src/fsm/states/movementStates.py
  BIG_BOT/src/fsm/states/servoStates.py
Labels: fix

#24 fix incorrect states
  BIG_BOT/src/fsm/states/collectStates.py
  BIG_BOT/src/fsm/states/movementStates.py
Labels: big bot, fix

#25 Implementation of NEMA 17 steppermotor
  BIG_BOT/src/config.py
  BIG_BOT/src/hardware/steppermotor.py
  BIG_BOT/src/main.py
  BIG_BOT/src/robot.py
  BIG_BOT/src/utils.py
Labels: feature, big bot

#29 Hotfix toggle ultrasonic sensors command
  BIG_BOT/src/fsm/commands/ultrasonicCommands.py
Labels: big bot, fix

#27 Dual ultrasonic implementation
  SIMA/SIMA/FSM_Groupie.cpp
  SIMA/SIMA/FSM_Groupie.h
  SIMA/SIMA/FSM_Star.cpp
  SIMA/SIMA/FSM_Star.h
  SIMA/SIMA/IRSensor.cpp
  SIMA/SIMA/IRSensor.h
  SIMA/SIMA/MotorControl.cpp
  SIMA/SIMA/MotorControl.h
  SIMA/SIMA/SIMA.ino
Labels: feature, SIMA, fix

#30 Servo test
  BIG_BOT/src/config.py
  BIG_BOT/src/fsm/FSM.py
  BIG_BOT/src/fsm/commands/servoCommands.py
  BIG_BOT/src/fsm/sequences/sequenceCreator.py
  BIG_BOT/src/hardware/adafruitServoController.py
  BIG_BOT/src/robot.py
Labels: feature, big bot

#31 Fine tuning SIMA
  SIMA/SIMA/FSM_Groupie.cpp
  SIMA/SIMA/FSM_Groupie.h
  SIMA/SIMA/FSM_Star.cpp
  SIMA/SIMA/FSM_Star.h
  SIMA/SIMA/SIMA.ino
  SIMA/SIMA/UltrasonicSensor.cpp
Labels: feature, SIMA, fix

#34 Add project information to README
  BIG_BOT/docs/BigBot.md
  README.md
  docs/BigBot.md
  docs/playmat_2025.png
Labels: documentation
